# OS dummy files
.DS_Store

# IDE
/.idea/

# GitHub Packages credentials
github.properties
codetitans.properties


# others
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
